*{
    text-align: center;
}

body {
    background: linear-gradient(to right,#667eea, #764ba2)
}

p{
    font-size: 50px;
}



button{
  background: linear-gradient(to right, #667eea, #764ba2);
  border: none;
  color: rgb(6, 6, 6);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 100px;

}

button:hover{
    box-shadow:  0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: antiquewhite;
}

#play{
    text-decoration: none;
    color:rgb(6, 6, 6)
}
